<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.escekids">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Escekids"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ZaraActivity"
            android:exported="false" />
        <activity
            android:name=".KotonActivity"
            android:exported="false" />
        <activity
            android:name=".urun_item"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".CommunicationActivity"
            android:exported="false" />
        <activity
            android:name=".BrandaActivity"
            android:exported="true" />
        <activity
            android:name=".ProduceActivity"
            android:exported="false" />
        <activity
            android:name=".BasketActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>